<script src="https://giscus.app/client.js"
        data-repo="kakkoyun/me"
        data-repo-id="{{ .Site.Params.giscus.repoId }}"
        data-category="{{ .Site.Params.giscus.category }}"
        data-category-id="{{ .Site.Params.giscus.categoryId }}"
        data-mapping="{{ .Site.Params.giscus.mapping }}"
        data-strict="{{ .Site.Params.giscus.strict }}"
        data-reactions-enabled="{{ .Site.Params.giscus.reactionsEnabled }}"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="{{ .Site.Params.giscus.theme }}"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>