name: Update Recent Notes

on:
  workflow_dispatch:
  schedule:
    # Runs at 12am UTC
    - cron: '0 0 * * *'
permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-readme-with-notes:
    name: Notes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          readme_path: 'content/notes/_index.md'
          comment_tag_name: "NOTE-LIST"
          feed_list: "https://kakkoyun.me/notes/rss.xml"
          max_post_count: 5
          remove_duplicates: true
          disable_sort: true
          sort_order: 'desc'
          reverse_order: true
          template: "$newline - [$title]($url) $newline"
